body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    font-size: 24pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content:space-around; /* Adjust as needed for your layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    max-width: 800px; /* Set a maximum width for the container */
    margin-top: 20px;
    margin-bottom: 100px;
}

header p {
    /*border: 1px solid white; */
}

img {
    height: 350px;
    padding: 10px;
    border: 1px solid white;
}